  .radiobuttons{
    color: white;
  }

  @media only screen and (max-width: 425px) {
    .movieCardContainer{
    display: grid;
    grid-gap: 10px;
    width: 400px;
    height: 500px;
    grid-template-columns: 300px;
    padding: 10px;
    margin-left: 15%;
  }

  }
  @media only screen and (min-width: 768px) {
    .movieCardContainer{
      display: grid;
      grid-gap: 10px;
      width: 400px;
      height: 500px;
      grid-template-columns: 300px 300px;
      padding: 10px;
      margin-left: 9%;
    }
  }

  @media only screen and (min-width: 1024px) {
    .movieCardContainer{
      display: grid;
      grid-gap: 10px;
      width: 400px;
      height: 500px;
      grid-template-columns: 300px 300px 300px;
      padding: 10px;
      margin-left: 25%;
    }
  }