  .radiobuttons{
    color: white;
  }

  @media only screen and (max-width: 425px) {
    .movieCardContainer{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    width: 400px;
    height: 100%;
    grid-template-columns: 300px;
    padding: 10px;
    margin: 0 auto;
  }

  }
  @media only screen and (min-width: 768px) {
    .movieCardContainer{
      display: grid;
      align-items: center;
      justify-content: center;
      grid-gap: 10px;
      width: 400px;
      height: 100%;
      grid-template-columns: 300px;
      padding: 10px;
      margin: 0 auto;
    }
  }

  @media only screen and (min-width: 1024px) {
    .movieCardContainer{
      display: grid;
      align-items: center;
      justify-content: center;
      grid-gap: 10px;
      width: 400px;
      height: 100%;
      grid-template-columns: 300px 300px;
      padding: 10px;
      margin: 0 auto;
    }
  }